.form {
  position: relative;
  &__input {
    height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    padding: 0;
    border: none;
    border-bottom: 1px solid $black;
    width: 100%;
    &--inline {
      @media screen and (min-width: 500px) {
        display: inline-block;
        width: 300px;
        margin-left: 10px
      }
    }
    &--honeypot {
      position: absolute;
      left: -5000px;
    }
  }
  &__pending {
    position: absolute;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
    background: rgba(245,245,245,.8);
    z-index: 2;
  }
  &__button {
    font-size: 2rem;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0, .1);
  }
  &__group {
    margin-bottom: 1em;
  }
  &__textarea {
    height: 4rem;
    overflow: hidden;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $light-gray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $light-gray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $light-gray;
}
:-moz-placeholder { /* Firefox 18- */
  color: $light-gray;
}