.layout {
  &__wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__section {
    padding: 40px 0;
  }
  &__section-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}