.flex-row {
  display: flex;
  flex-wrap: nowrap;
  &--wrap {
    flex-flow: row wrap;
  }
  &__align-center {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__align-v-center {
    justify-content: center;
  }
  &__direction-vertical {
    flex-direction: column;
  }
  &__full-height {
    width: 100%;
    height: 100%;
  }
}